[submodule "IA/Flood-Warning-System"]
	path = IA/Flood-Warning-System
	url = https://github.com/lpender3672/PartIA-Flood-Warning-System.git
[submodule "IB/IDP"]
	path = IB/IDP
	url = https://github.com/lpender3672/IDP_M213.git
[submodule "IA/Mars_Lander"]
	path = IA/Mars_Lander
	url = https://github.com/lpender3672/IA_Mars_Lander.git
