[submodule "IA/Flood-Warning-System"]
	path = IA/Flood-Warning-System
	url = https://github.com/lpender3672/PartIA-Flood-Warning-System.git
[submodule "IB/IDP"]
	path = IB/IDP
	url = https://github.com/lpender3672/IDP_M213.git
[submodule "IIA/Shell_tube_heat_exchanger"]
	path = IIA/Shell_tube_heat_exchanger
	url = https://github.com/lpender3672/shell_tube_heat_exchanger.git
[submodule "IA/Mars_Lander"]
	path = IA/Mars_Lander
	url = https://github.com/lpender3672/IA_Mars_Lander.git
[submodule "IIA/Wing_Analysis"]
	path = IIA/Wing_Analysis
	url = https://github.com/lpender3672/wing_analysis.git